<div class="bancomat-app-index-container">
    <div class="bancomat-app-index-buttons">
        <p class="text-center">Amount to Transfer</p>
        <input type="text" class="form-control" id="newSold" aria-label="Amount (to the nearest dollar)">
        <button class="btn btn-primary" onclick="transferAmount()" role="button">Transfer</button>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index" role="button">Back</a>
    </div>
</div>

<script>
    function transferAmount() {
        console.log("merge")
    }
</script>