<div class="bancomat-app-index-container">
    <div class="bancomat-app-index-buttons">
        <p class="text-center">Introduceti suma</p>
        <input type="text" class="form-control" id="newSold" aria-label="Amount (to the nearest dollar)">
        <button class=" btn btn-primary" onclick="decrementSold()" role="button">Withdraw</button>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index" role="button">Back</a>
        <span id="error" class=" text-center"></span>
    </div>
</div>
<script type="text/javascript">
    function decrementSold() {
        const dataBody = { amount: parseInt(document.getElementById("newSold").value), toIncrement: false }

        $.ajax({
            url: '@Url.Action("ChangeBalanceValue","Bancomat")',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "POST",
            dataType: "json",
            data: JSON.stringify(dataBody),
            success: function () {
                console.log("success");
            }
        });
        errorMessage()
    }
</script>

<script>
    function errorMessage() {
        var error = document.getElementById("error")
        if ((parseInt(document.getElementById("newSold").value) > 500)) {
            error.innerHTML = "<span style='color: red;'>" +
                "Amount exceeded!</span>"
        } else {
            error.innerHTML = "<span style='color: green;'>" +
                "Withdraw was done.</span>"
        }
    }
</script>